* {
  padding: 0;
  margin: 0;
}
/*  */
.footer {
  background-color: rgb(29, 24, 112);
  margin-top: 100px;
  padding-top: 100px;
}

/* Large */

@media (min-width: 992px) {
  .card-section {
    width: 24rem;
    height: 34rem;
  }

  .img-section {
    height: 2rem;
    width: auto;
  }
}
/* medium */

@media (min-width: 768px) and (max-width: 992px) {
  .card-section {
    width: 24rem;
    margin-top: 3rem;
  }

  .section-1 {
    height: 80vh;
    padding-top: 1rem;
  }

  .form-check {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }
}
