* {
  margin: 0;
  padding: 0;
}

.layer-1 {
  background-color: rgb(87, 81, 225);
}

.layer-2 {
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  font-size: 1.5em;
}

.layer-4 {
  background-color: rgb(87, 81, 225);
}

.layer-4 h1 {
  font-size: 40px;
}

.layer-4 .col-lg-6 {
  margin-top: 40px;
}

.layer-footer {
  height: 300px;
}

.card-content5 {
  background-color: rgb(109, 108, 128);
}

.footer {
  background-color: rgb(29, 24, 112);
  margin-top: 100px;
  padding-top: 100px;
}

/* Large */
@media (min-width: 992px) {
  .carousel-item {
    padding-left: 14rem;
    padding-top: 5rem;
    width: 80rem;
    height: 20rem;
  }
  .card-style {
    width: 80rem;
    height: auto;
  }

  .card-picture span {
    width: 3rem;
    margin-left: 6rem;
  }
}

/* medium */

@media (min-width: 760px) and (max-width: 992px) {
  /* .card-section .card {
    width: 32rem;
    height: 18rem;
    margin-bottom: 10rem;
    padding-bottom: 24rem;
    margin-right: 24px;
  } */

  .carousel-item {
    width: 60.3rem;
    height: 20rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .text-section {
    text-align: center;
  }

  .card-picture span {
    width: 2rem;
    margin-left: 2rem;
    opacity: 0.5;
  }
}
