* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

/* Custom styling for carousel item */
.carousel-item {
  height: 22rem;
}

::placeholder {
  font-size: 2.5rem; /* Sesuaikan ukuran teks placeholder */
}

.layer-2 {
  height: 22rem;
}

.layer-pill {
  background-color: rgb(206, 204, 253);
}

.border-costum {
  padding: 38px;
}

.content-4 .carousel-item {
  height: 26rem;
}

.content-4 h4 {
  width: 20rem;
  text-align: center;
}

/* .card-style {
  justify-content: center;
} */

/* Custom styling for card */
.card {
  width: 200px;
  height: 200px;
}

.rounded-circle {
  border-radius: 50%;
}

.content-2 {
  width: 12rem;
}

.container-costum {
  max-width: 1200px;
}

.col-lg-7 h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.layer {
  background-color: rgb(87, 81, 225);
}

.layer-7 {
  background-color: rgb(40, 37, 104);
}

.content-7 h1 {
  border-right: 4px solid white;
}

.layer-9 {
  background-color: rgb(87, 81, 225);
}

.layer-9 h1 {
  font-size: 40px;
}

.layer-footer {
  height: 300px;
}

.footer {
  background-color: rgb(29, 24, 112);
  margin-top: 100px;
  padding-top: 100px;
}

.footer .row {
  margin-right: 100px;
  color: rgb(245, 8, 8);
}

.icons {
  display: flex;
  width: 12rem;
  height: auto;
}

.section-9 {
  height: 230px;
}
/* Large Display */

@media (min-width: 992px) {
  .content-7 h1 {
    font-size: 60px;
  }
}

/* Medium Display */

@media (min-width: 760px) and (max-width: 992px) {
  .section-1:nth-child(1) {
    order: 2;
  }

  .section-1:nth-child(2) {
    order: 1;
  }

  .container-costum {
    max-width: 860px;
  }

  .border-costum {
    padding: 30px;
  }

  .content-2 a {
    width: 10rem;
    height: auto;
  }

  .content-2 {
    width: 8rem;
  }

  .content-3 h5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .content-3 button {
    width: 100%;
  }

  .btn-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .name {
    display: none;
  }

  .content-7 h1 {
    font-size: 28px;
  }

  .layer-2 {
    height: 20rem;
  }

  .layer-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .layer-9 .col-lg-6 {
    margin-top: 40px;
  }

  .layer-10 {
    margin-top: 200px;
  }

  .section-1 h1 {
    text-align: center;
  }
  .section-1 p {
    text-align: center;
  }
  .section-1 button {
    width: 100%;
  }
}
