* {
  margin: 0;
  padding: 0;
}

/* Custom styling for carousel item */
.carousel-item {
  height: 22rem;
}

.content-4 .carousel-item {
  height: 26rem;
}

.content-4 h4 {
  width: 20rem;
  text-align: center;
}

/* .card-style {
  justify-content: center;
} */

/* Custom styling for card */
.card {
  width: 200px;
  height: 200px;
}

.rounded-circle {
  border-radius: 50%;
}

.col-lg-7 h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.container-fluid {
  background-color: rgb(87, 81, 225);
}
/* Large Display */

@media (max-width: 992px) {
}

/* Medium Display */

@media (min-width: 768px) and (max-width: 992px) {
  .section-1:nth-child(1) {
    order: 2;
  }

  .section-1:nth-child(2) {
    order: 1;
  }

  .content-3 h5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .content-3 button {
    width: 100%;
  }

  .btn-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .name {
    display: none;
  }

  .section-1 h1 {
    text-align: center;
  }
  .section-1 p {
    text-align: center;
  }
  .section-1 button {
    width: 100%;
  }
}
